<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta charset="UTF-8">
  <title>pans-敬请期待</title>
</head>

<style type="text/css">
  #error_footer {
    LINE-HEIGHT: 62px;
    MARGIN: 0px auto;
    WIDTH: 960px;
    COLOR: #979797
  }
  #error_footer A {
    COLOR: #979797
  }
  #error_footer SPAN {
    MARGIN: 0px 5px
  }
</style>
<body>

<img th:src="@{/img/timg.jpg}" width="100%" height="70%">
<div id="error_footer">
  <span class="l">Copyright @ 2019  Pansai. All Rights Reserved.&nbsp;|&nbsp; <a href="http://www.miitbeian.gov.cn/" target="_blank">备案中...</a></span>

</div>
</body>
</html>